!!!
%html
  %head
  %body.slideshow
    #slides
      %ul.slides-container 
        %li
          %img=image_tag "http://upload.wikimedia.org/wikipedia/commons/6/62/VW_K%C3%A4fer_mit_Ski.jpg"
          .container
            .contrast
              %h1.headline="Share the Kit out of each other..."
              %p.explainer="Hi there we're Nic and Alex, we're starting a new venture called KitShare. It'll help you share and borrow Outdoor and Adventure Kit all around the world."
              %em="Click right to see how it works..."


              
        %li
          %img=image_tag "https://dl.dropboxusercontent.com/sh/rs011u7cim87yah/BM-scCaIhi/DSC_0035.JPG?token_hash=AAGeO5syRPHDp_Ycs05yqVgR8MCAh-Wiu4lHz-JI52cCCQ"
          .container
            .contrast
              %h1.headline="Nic loves skiing..."
              %p.explainer="He's got all the gear, the skis, the helmet, the woolly undergarmets, and he uses them all religiously for one week of the year."
              
              %p.explainer="Wouldn't it be great if he could lend that kit out to someone who's wants to love skiing as much as he does"
              
              %em="Maybe not the undergarmets..."
        %li
          %img=image_tag "IMG_0339.JPG"
          .container
            .contrast
              %h1.headline="Alex is going skiing..."
              %p.explainer="Although it looks like he lives in the desert, Alex has just started skiing, but he doesn't have any kit and the in resort rental gear is so expensive."
              %p.explainer="More than that though he wants to know where all the good runs are and sweet hidden away cafes for a beer."
              %em="Can you see where we're going with this..."

        %li
          %img=image_tag "Girl-Kite-surf-WallpaperHD.jpg"
          .container
            .contrast
              %h1.headline="That's where KitShare comes in..."
              %p.explainer="Nic can put his equipment up onto KitShare, helping new skiers get as much enjoyment out of skiing as he does. He can earn KitShare points or a bit of cash depending on his preference."
              %p.explainer="Alex not only gets decent kit but can get advice and tips on where to go and what to do from the expert, and once he has his own equipment can 'pay it forward' by putting it on KitShare."
              %p.explainer="Of course it's not just skiing, we'll have surfing, kitesurfing, bikes, hopefully as many sports as we can think of!"
              
              %em="That in a nutshell is it, tell us what you think on the next page..."
        %li
          %img=image_tag "7081_1280x800.jpg"
          .container
            .contrast 
              %h1.headline="What do you think...?"
              = form_for @feedback, :url => "feedback" do |f|
                %p= f.text_field :name, placeholder: :Name, class: "inputs"
                = f.radio_button :opinion, "Nice idea man", class: "radio-inline"
                = f.label "Nice idea man", class: "radio-inline"
                = f.radio_button :opinion, "Mmmmeh", class: "radio-inline"
                = f.label "Mmmmeh", class: "radio-inline"
                = f.radio_button :opinion, "You're barking up the wrong tree dude", class: "radio-inline"
                = f.label "You're barking up the wrong tree", class: "radio-inline"

                %p= f.text_area :comment, rows: "5", class: "inputs text", placeholder: "Got any other thoughts or musings..."

                %p= f.email_field :email, placeholder: :Email, class: "inputs"

                %p= f.submit "Feedback"

      %nav.slides-navigation
        %a.next{href: "#"}
          .icon-chevron-right
        %a.prev{href: "#"}
          .icon-chevron-left


  :javascript
    $(function() {
      $('#slides').superslides({
      });
    });
    $(function() {
      var $slides = $('#slides');

      Hammer($slides[0]).on("swipeleft", function(e) {
        $slides.data('superslides').animate('next');
      });

      Hammer($slides[0]).on("swiperight", function(e) {
        $slides.data('superslides').animate('prev');
      });

      $slides.superslides({
        hashchange: true
      });
    });