!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'KitShare'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Kitshare'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{:src => "js/foundation/foundation.equalizer.js"}
    = csrf_meta_tags
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:700,900italic|Droid+Sans:400,700", rel: "stylesheet", type: "text/css"

    %meta{content: "width=device-width, user-scalable=no", name: "viewport"}/
    
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
    

    %section    
      = yield